/* default common section */
html < body
{
  background-color: #FAFAFA;
}

header
{
  position: fixed;
  display: block;
  width: 15em;
  height: 100%;
  min-height: 100%;
  padding: 2em;
  top: 0;
  left: 0;
  border-right: 1px #eee solid;
  float: left;
  overflow-y: auto;
  background-color: black;
}

header a img
{
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

#social-icons
{
  display: inline;
}

.nav-component
{
  position: relative;
  display: block;
  text-align: center;
  margin: 16px;
  padding-left: 72px;
  min-height: 48px;
  line-height: 48px;
}

#content
{
  float: left;
  margin-left: 20em;
  width: 100%;
}

/* About page */
#about
{
  line-height: 32px;
}

#about img
{
  max-height: 50%;
  max-width: 50%;
}