/* default common section */
html < body {
  background-color: #515151;
}

a {
  color: violet;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  background-color: green;
  color: #fff;
}

h4 {
  line-height: 1.5em;
}

header {
  position: fixed;
  display: block;
  width: 17.5em;
  height: 100%;
  padding-left: 5em;
  top: 0;
  left: 0;
  border-right: 1px #eee solid;
  float: left;
  overflow-y: auto;
  background-color: black;
}

#social-icons {
  display: inline-block;
  padding-bottom: 2em;
}

.nav-component {
  display: block;
  padding-left: 72px;
}

.current {
  background-color: green;
  color: #fff;
  text-decoration: line-through;
}

#content {
  padding: 0 5em 0 25em;
}

/* footer */
footer {
  position: fixed;
  left: 5em;
  bottom: 0;
  color: white;
}


/* about page */
#about {
  display: inline-block;
  padding: 10% 15%;
}


/* portfolio page */
.portfolio {
  margin: 8%;
}
.demo-card-wide.mdl-card {
  width: 512px;
  margin: 0 6em 5em .5em;
  display: inline-block;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/mushroom.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__title-text {
  color: black;
}


/* portfolio content page */
#back {
  float: left;
}
#pfsection {
  padding: 2% 0;
}
#pftitle {
  text-align: center;
  text-decoration: underline;
}


/* individual portfolio page */
.gallery {
  margin: 0 15% 0 0;
  width: auto;
  height: 400px;
  border: 2px black solid;
}
.image {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
}
.gallery .image img {
  width: 300px;
  height: 400px;
}
iframe {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 200px;
  height: 200px;
}


/* blog page */
#blog {

}


