/* default common section */
html < body {
  background-color: #FAFAFA;
}

a {
  color: violet;
}

h4 {
  line-height: 1.5em;
}

header {
  position: fixed;
  display: block;
  width: 17.5em;
  height: 100%;
  padding-left: 5em;
  top: 0;
  left: 0;
  border-right: 1px #eee solid;
  float: left;
  overflow-y: auto;
  background-color: black;
}

#social-icons {
  display: inline-block;
  padding-bottom: 2em;
}

.nav-component {
  display: block;
  padding-left: 72px;
}

#content {
  margin: 5em 5em 5em 25em;
}


/* about page */
#about {
  display: inline-block;
  padding: 10%;
}


/* portfolio page */
#portfolio {
  padding: 5% 8%;
}
.demo-card-wide.mdl-card {
  width: 512px;
  margin: 0 6em 5em .5em;
  display: inline-block;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/mushroom.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__title-text {
  color: black;
}


/* blog page */
#blog {

}


/* footer */
footer {
  position: fixed;
  left: 4em;
  bottom: 0;
  color: white;
}