<!-- This file is the common HTML shared among all pages -->
<!DOCTYPE html>

<html lang="en-ca">

<head>
	<meta charset="utf-8">

	<!-- Mobile-friendly view -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{page.title}}{% endif %} | Jiayu Liu</title>

	<!-- Google MDL stylesheets CDN host -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<!-- Customized CSS, override css above-->
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/style.css">

	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body>
	<header>

		<h2 style="color:white">Jiayu Liu</h2>
		<h6 style="color:white"><i>Game Programmer<br>Sound Designer</i></h6>

		<div id="social-icons">
			<a href="http://github.com/joylio" aria-hidden="true" title="Github">
				<img src="{{site.baseurl}}/images/github-circle.png" alt="Github">
			</a>
			<a href="https://soundcloud.com/joylio" aria-hidden="true" title="Soundcloud">
				<img src="{{site.baseurl}}/images/soundcloud.png" alt="Soundcloud">
			</a>
		</div>
		
		<nav>
		<h6><a href="{{site.baseurl}}/index" class="nav_component {% if page.title == 'About'%}current{% endif %}">About</a></h6>
			<h6><a href="{{site.baseurl}}/blog" class="nav_component {% if page.title == 'Blog'%}current{% endif %}">Blog</a></h6>
			<h6><a href="{{site.baseurl}}/portfolio" class="nav_component {% if page.title == 'Portfolio' or page.url contains 'leafly' %}current{% endif %}">Portfolio</a></h6>
			<h6><a href="{{site.baseurl}}/fun" class="nav_component {% if page.title == 'Fun'%}current{% endif %}">Fun!</a></h6>
		</nav>

	</header>


	<main id="content">

		{{content}}

	</main>


	<footer>
		<h6>© 2016 by Jiayu Liu</h6>
	</footer>


</body>

</html>